*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-image: url(background_image.jpg);
    color: white;  
    position: relative;
    
    border: 3px blue solid;

}

header h1 span{
    color: red;
}

#transparent-overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
}

form{
    margin: auto;
    width: 25%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    text-align: left;
}