*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

body{
    background: url("./images/background_image.jpg");
    color: white;
    height: 110vh;
}

body div#container{
    background-color: rgba(0, 0, 0, .5);
    margin: 30px;
    min-width: 550px;
    height: 100%;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat
}

body div header{
    text-align: center;
    
}

body div header h1{
    text-transform: uppercase;
    padding: 5px
}

body div header h1 span{
    color: red
}

body div main{
    background-color: rgba(0, 0, 0, .7) ;
    width: 500px;
    margin: 10px auto;
    padding: 20px
}

input, select, textarea{
    width: 100%;
}

input[name=name], input[name=age], input[name=email], input[name=content]{
    padding: 4px;
}

div.form-content label + input, 
div.form-content label + select{
    
}

div.form-content > h1 {
    font-size: 1.5rem
}

.form-content label{
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  

.form-content{
    display: block;
}

input[type=checkbox],
input[type=radio]{
width:auto;
} 

.text-center{
    margin:auto;
    position: relative;
    background-color: red;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius:50px;
}

button{
    color: white;
    height: 100%;
    background-color: red;
    border: none;
    font-size: 20px;
}


