*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-image: url(background_image.jpg);
    color: white;
    
}
#transparent-overlay{
    background-color: rgba(0, 0, 0, .3);
    margin: 20px 40px;
    text-align: center;

}
header h1 span{
    color: red;
}
#form-box{
    border: 3px yellow solid;
    width: 30%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, .7);
}
form {
    margin: auto;
    border: solid blue 3px;
    width: 80%;
    padding: 20px;
    /* top: 20px */
}
input{
    width: 80%;
}
