* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-image: url(/images/background_image.jpg);
    color: white;  
    position: relative;
    border: 3px blue solid;
}

span {
    color: red;
}
header, h1 {
    margin-bottom: 20px;
}

#container {
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    border: 3px solid red
}

form{
    width: 20%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    text-align: left;
}